body {
    padding:0px; margin:0px;
    background-color:#f4f4f4;
}
.giris-panel {
    display:block;
    width:400px;
    height:250px;
    background-color:white;
    border:1px solid #ccc;
    box-shadow:3px 3px 3px #ccc;
    margin-top:150px;
    margin-left:auto; margin-right:auto;
}
.giris-panel .title {
    padding:10px;
    border-bottom:1px dotted #ccc;
    font-size:18px; font-family:Arial;
    color:#2234fb;
    background-color:#f4f4f4;
    font-weight:bold;
    text-transform:uppercase;
    text-align:center;
}
.giris-panel .content {
    font-size:16px; font-family:Arial;
    color:gray;
    display:block;
    width:250px;
    margin-top:10px;
    margin-left:auto; margin-right:auto;
}
.giris-panel .btn-submit{
    display:block;
    text-align:right;
    width:220px;
}
